/* PageBlogRuInner.module.css */

/* Стили для сортировки */
.sortContainer {
    margin-bottom: 20px;
    display: block;
    align-items: center;
    text-align: right;
  }
  
  .sortContainer label {
    margin-right: 10px;
  }
  
  .sortSelect {
    padding: 5px;
    border: 1px solid #cad4e2;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    
  }
  
  .sortSelect:focus {
    outline: none;
    border-color: var(--color-main-1-deep);
  }
  
  /* Стили для сетки статей */
  .articleGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* По умолчанию 1 колонка */
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .articleGrid {
      grid-template-columns: repeat(2, 1fr); /* 2 колонки на десктопе */
    }
  }
  
  /* Кнопка для подгрузки статей */
  .loadMoreButton {
    display: block;
    margin: 20px auto;
    border: none;
    padding: 10px 32px;
    background-color: var(--color-main-1-deep);
    color: black;
    border-radius: 36px;
    cursor: pointer;
  }
  
  .loadMoreButton:hover {
    background-color: black;
    color: white;
  }
  
  @media (max-width: 992px) { 
    .sortContainer {
    text-align: left;
    margin-top: 20px;
  }
  .sortContainer label {
  display: none;
}
  }