@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /*
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  */
  --background-global: 255,255,255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
  */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/unbounded/static/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1, h2 {
  font-family: 'Unbounded', system-ui, sans-serif;
}

h1  {
  font-size: 61px;
  font-weight: 700;
}

h2  {
  font-size: 32px;
  font-weight: 500;
}

h3  {
  font-size: 24px;
  font-weight: 500;
}

.telegram-bottom {
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 999999;
}
.centered-texts {
  text-align: center;
}
.footer-common {
  width: 100%;
  height:auto;
  min-height: 300px;
  background-color: #fafafa;
}

.header-common {
  padding: 20px 2%;
  height: 77px;
  border-bottom: solid 1px #F2F2F2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 992px) { 
  .only-desc {
    display: none;
  }
  h1 {
    font-size: 42px;
  }
 }

