@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /*
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  */
  --archive-color-blue: #463bf7;
  /* https://colorscheme.ru/#3521Tn7Jdw0w0  */
  --background-global: 255,255,255;
  /*
  --color-main-1-deep-bak: #3ad196;
  --color-main-1-light: #83f8be;
  */
  --color-main-1-deep: #1af287;
  --color-main-1-light: #8af8c4;
  --color-main-1-dark: #0b683e;  
  /*--color-main-1-light: #ACF4D9;
  --color-main-1-medium: #6AE8B8;*/
  --color-main-1-light2: #8CE8C5;
  --color-main-2-deep: #0119fa;
  --color-main-2-light: #a5adff;
  --color-main-3-deep: #FF8047;
  --color-main-3-light: #FFA075;
  --color-main-3-extralight: #FFB99A;
  --color-add-1: #ee82ee;
  --color-c0fc01: #c0fc01;
  --color-1af287: #1af287;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
  */

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 300;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  margin: 5px 0;
}

.a-white {
  color: white;
}

.space20 {display: block; width: 100%; height: 20px; min-height: 20px;}
.space40 {display: block; width: 100%; height: 40px; min-height: 40px;}
.space60 {display: block; width: 100%; height: 60px; min-height: 60px;}
.space80 {display: block; width: 100%; height: 80px; min-height: 80px;}
.space100 {display: block; width: 100%; height: 80px; min-height: 100px;}

.blackblock {
  background: #000;
  color: #fafafa;
  margin-top: 0px;
}

.fake-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.blackToGreen {
  border: 1px solid black;
  background-color: #000 !important;
  color: white !important;
}

.blackToGreen:hover {
  border: 1px solid var(--color-main-1-deep) !important;
  background-color: var(--color-main-1-deep) !important;
  color: black !important;
}

.greenToBlack {
  border: 1px solid var(--color-main-1-deep) !important;
  background-color: var(--color-main-1-deep) !important;
  color: black !important;
}

.greenToBlack:hover {
  border: 1px solid black !important;;
  background-color: #000 !important;
  color: white !important;
}

.lightGreenToWhite {
  border: 1px solid var(--color-main-1-light) !important;
  background-color: var(--color-main-1-light) !important;
  color: rgb(0, 0, 0) !important;
}

.lightGreenToWhite:hover {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: black !important;
}

.whiteToLightGreen {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  color: black !important;  
}

.whiteToLightGreen:hover {
  border: 1px solid var(--color-main-1-light) !important;
  background-color: var(--color-main-1-light) !important;
  color: rgb(0, 0, 0) !important;
}

span.tooltiptext {
  font-size: 12px;
  /* text-align: right; */
  margin: 12px;
  display: block;
}

.a-under {
  text-decoration: underline;
} 

.grayscale30 {
filter: grayscale(.3);
}
.grayscale100 {
  filter: grayscale(1);
  }

.underline {
  text-decoration: underline;
}

hr.servicesHr {
height: 1px;
background-color: #c4cbd6;
border: 1px;
margin: 8px;
}

b {
  font-weight: 700;
}

.border-36 {border-radius: 36px;}
.border-12 {border-radius: 12px;}

.projects-clutch {
  display: inline-flex;
  align-items: center;  
  border-radius: 25px;
  border: 1px solid #000;
  /*background-color: #fff;*/
  /*border: 1px solid #ffffff;*/
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 30px;
  opacity: 0;
  transform: translateX(-20px); 
  animation: fadeInMain 1s ease forwards;
  animation-delay: 0.2s; 
}

.projects-clutch img {
  width: 100%;
  height: auto;
  max-height: 20px;
}

.projects-clutch:hover {
  /*box-shadow: 1px 1px 20px #acf4d9;*/
  background-color: #fff;
  border: 1px solid #101010;
}

.projects-num {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid #101010;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-top: 20px;
  opacity: 0; 
  transform: translateX(-20px); 
  animation: fadeInMain 1s ease forwards;
  animation-delay: 0.3s; 
}

.projects-num:hover {
  /*box-shadow: 1px 1px 20px #acf4d9;*/
  background-color: #fff;
  border: 1px solid #101010;
}

.button-info {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 25px;
  /*border: 1px solid #463bf7;
  background-color: #3ad196ba;
  color: #fff;*/
  border: 1px solid #ACF4D9;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-top: 20px;
  opacity: 0; 
  transform: translateX(-20px); 
  animation: fadeInMain 1s ease forwards;
  animation-delay: 0.3s; 
}

.button-info:hover {
  /*box-shadow: 1px 1px 20px #acf4d9;*/
  background-color: #ACF4D9;
}

.inline-grid-desc {
display: inline-grid;
width: 100%;
}

.inline-flex-desc {
  display:  inline-flex;
  width: 100%;
}

@keyframes fadeInMain {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.descCol4Mob1 {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.second-container {
  margin-top: -100px;
  margin-bottom: 50px;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/unbounded/static/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Major Mono Display';
  src: url('/fonts/majormonodisplay/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.hego-screen {
  width: auto;
}

h1, h2 {
  font-family: 'Unbounded', system-ui, sans-serif;
}

.unbounded-font {
  font-family: 'Unbounded', system-ui, sans-serif; 
}

h1  {
  font-size: 61px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 24px;
}

h2  {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 22px;
}

h3  {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 18px;
}

h4  {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 18px;
}

.h3ash1  {
  font-size: 61px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 24px;
}

/*@layer components {
  .multimple-link {
    @apply font-bold no-underline;
    @apply bg-gradient-to-r from-green-500 to-pink-500;
    @apply bg-no-repeat bg-left-bottom;
    @apply bg-[length:0.3px];
    @apply transition-all duration-500;

  }
  
  .multimple-link:hover {
    @apply bg-[length:100%_3px];
  }
}
*/

.telegram-bottom {
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 9999999;
}
.centered-texts {
  text-align: center;
}

.sub-title-service-texts {
  font-size: 0.875rem;
  line-height: 1.7;
}

.sub-h4-service-texts {
  font-size: x-large;
  margin: 0 12px;
  font-weight: 700;
}

.stackForPP {
  margin-bottom: 4px !important;
  background-color: #1c1c1c !important;
  color: #aaaaaa !important;
}

.big-padding-top-desc {
  padding-top: 70px;
}
/* custom var of contaiters */
.black112 {background-color: #000; color: #fff;}
.gray112 {background-color: #e4ebf5}
.white112 {background-color: #fff}
.brave112 {background-color: var(--color-main-1-deep);}
.withoutPaddingTop {padding-top: 0;}
.withoutPaddingBottom {padding-bottom: 0;}
.withoutMarginTop {margin-top: 0;}
.withoutMarginBottom {margin-bottom: 0;}

.footer-common {
  width: 100%;
  height:auto;
  /* min-height: 300px; */
  background-color: #101010;
  color: #fafafa;
}

.header-common {
  padding: 20px 2%;
  height: 77px;
  /*border-bottom: solid 1px #F2F2F2;*/
}
.main-menu-links{
  margin-right: 30px;
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* эффекты */
/* The Text Swapping Link Hover Effect */
/* ссылки */
.a-in-text-6-600 {
  top: 6px;
  font-weight: 600;
  }

.a-anim {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.a-anim::before,
.a-anim::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.a-anim::before {
  background-color: #000;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.a-anim::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color:#000;
}

.a-anim:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.a-anim:hover::after {
  transform: translate3d(0, 0, 0);
}

.a-anim span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.a-anim:hover span {
  transform: translate3d(-200%, 0, 0);
}
/* white style */
/* The Text Swapping Link Hover Effect */
.a-anim-w {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.a-anim-w::before,
.a-anim-w::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.a-anim-w::before {
  background-color: #fff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.a-anim-w::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color:#fff;
}

.a-anim-w:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.a-anim-w:hover::after {
  transform: translate3d(0, 0, 0);
}

.a-anim-w span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.a-anim-w:hover span {
  transform: translate3d(-200%, 0, 0);
}


/* глитч */
.glitch {
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 67px;
  top: 50%;
  left: 50%;
  letter-spacing: 5px;
  font-weight: 700;
  position: relative;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000;

  
  &:before, &:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  } &:after {
    color: #f0f;
    z-index: -2;
  } &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
    }
    &:after {
      animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
    }
  }
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}


@keyframes glitch {
  0% {
    transform: translate(0)
  }
  20% {
    transform: translate(-5px, 5px)
  }
  40% {
    transform: translate(-5px, -5px)
  }
  60% {
    transform: translate(5px, 5px)
  }
  80% {
    transform: translate(5px, -5px)
  }
  to {
    transform: translate(0)
  }
}

/* круги */
@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.hero-background {
  position: absolute; /* Changed to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible; /* Changed to visible */
  z-index: -1;
}

.hero-background svg {
  position: absolute;
  animation: float 10s ease-in-out infinite;
}

.circle1 {
  width: 2000px;
  height: 2000px;
  stroke: rgba(117, 117, 117, 0.5);
  animation-duration: 15s;
  animation-delay: 0s;
  left: -10%;
  top: -20%;
}

.circle2 {
  width: 900px;
  height: 900px;
  stroke: rgba(0, 0, 0, 0.5);
  animation-duration: 20s;
  animation-delay: 3s;
  left: 50%;
  top: -5%;
}

.circle3 {
  width: 1250px;
  height: 1250px;
  stroke: rgba(0, 0, 255, 0.5);
  animation-duration: 25s;
  animation-delay: 5s;
  left: 70%;
  top: 30%;
}

/* Падающие элементы стека */

@keyframes fall {
  0% {
    transform: translateY(-100vh);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.falling-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.2); /* Сделать текст светлее */
  font-size: 20px;
  animation: fall linear infinite;
 /* pointer-events: none;  */ /* Make sure text doesn't interfere with cursor */
  font-family: 'Unbounded', inherit;
  /*font-family: inherit;  Использовать дефолтный шрифт проекта */
  /*white-space: nowrap; /* /* Предотвратить перенос текста на следующую строку */
  padding: 30px 50px; /* Добавить отступы, чтобы избежать слипания */
}

.hr-footer {
  border-color: #ffffff45;
  border-color: #ffffff29;
  padding-bottom: 15px;
  margin-top: 25px;
}
.copyright {
  font-size: small;
  color: #7e838a;
}

@keyframes gradientBackground {
  0% {
    background: #f5f5fa;
  }
  25% {
    background: #acf5da52;
  }
  50% {
    background: #acf5da00;
  }
  75% {
    background: aliceblue;
  }
  100% {
    background: #f5f5fa;
  }
}

#hero-container {
  background: #f5f5fa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden; /* Ensure falling text stays within the view */
  z-index: 1; /* Ensure it's on top */
  animation: gradientBackground 15s ease infinite;
  transition: background 2s ease-in-out;
}

#content-container {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
  z-index: 0; /* Ensure it's below hero-container */
}

/* регалии на hero-page */
.hero-page-bottom-block {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
}

.image-row-container {
  position: absolute;
  bottom: 30%; /* Расстояние от низа контейнера */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.image-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.image-container {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 0.5s forwards;

}

.image-container img {
  max-height: 50px;
  width: 150px;
  /* object-fit: cover; */
  object-fit: contain;
  margin-right: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 0.7;
    transform: translateY(0);
  }
}

.stack-array, .blog-stack-array {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  text-align: right; 
}

.stack-item {
  margin-right: 6px;
  height: fit-content;
  padding: 3px 15px;
  font-size: 12px;
  /*border: 1px solid #ccd6e5;*/
  border-radius: 12px;
  color: #3f3e3e;
  background-color: #ccd6e5;
  background-color: #ccd6e52b;
  font-weight: 300;
}

.comma {
  margin-right: 5px;
  display: none;
}

.stack-line {
  display: block;
  height: 1px;
  background-color:#e4ebf5;
  background-color: #ccd6e599;
  margin-bottom: 10px;
  margin-top: 20px;
}
/* портфолио ссылки */

.info-case {
  margin: 20px 0;
  width: 100%;
}

.article-format {
  width: 15%;
  max-width: 100px;
  /*background: #f5f5fa;
  text-align: center;*/
  text-align: left;
  border-radius: 12px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3px 7px;
  font-size: 12px;
  /* border: 1px solid #000000; */
  margin-right: 10px;
  color: #000000;
}

.title-format-info {
  text-align: left;
  width: 100%;
  margin-top: -8px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
}

.animated-link {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.animated-link video,
.animated-link img {
  transition: transform 0.5s ease-in-out;
}

.animated-link:hover video,
.animated-link:hover img {
  transform: translateY(-10px);
}
.video-placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .overlay {
  opacity: 1;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0.8);
  background-color: #ACF4D9;
  background-color: var(--color-main-1-deep); /* Полупрозрачный зеленый круг */
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
}
*/
.arrow {
  font-size: 24px; /* Установите нужный размер */
  color: black; /* Цвет стрелки */
}

/* стили спойлера */
.spoiler {
  padding: 10px;
  margin: 10px 0;
}

.spoiler-summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.spoiler-summary span {
  margin-left: 10px;
  font-weight: normal;
}

.spoiler-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.spoiler-content.open {
  max-height: 18000px;
  color: #e4ebf5;
}

.plus-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.plus-icon.rotate {
  transform: rotate(45deg);
}

.spoilerUlStyle {
list-style-type: square;
list-style-position: inside;
padding-left: 20px;
}

.spoilerOlStyle {
  list-style-type: auto;
  list-style-position: inside;
  padding-left: 20px;
  }
/* стили спойлера: конец */

.achievements-wrapper {
  padding: 12px 0;
}

.achievement-image {
  max-height: 24px;
}
.achievement-image-clutch {
  max-height: 17px;
  margin-top: 3px;
}

.achievement-block {
  padding: 5px 16px;
  margin: 0 16px;
  border-radius: 36px;
  vertical-align: middle;
  background-color: #e4ebf5;
  /*
  border: 1px solid #dee5f0;
  background-color: var(--color-main-1-deep);
  background-color: #8af8c4;
  background-color: #fff;
  */
}

.backgroundMarketplace {
    background-image: url('/images/sozdanie-marketplace-sajt-agregatorov.webp');
    width: 100%;
    position: relative;
    background-position: top center;
    background-repeat: repeat;
    background-color: #000000;
    filter: grayscale(.5);
    background-attachment: scroll;
    background-size: cover;
    border-radius: 36px;
}

.blockMarketplace {
  max-width: 100%;
    -webkit-text-shadow: 0px 0px 0px #ffffff;
    text-shadow: 0px 0px 0px #ffffff;
    padding: 15% 1% 15% 5%;
    color: white;

}

.textMarketplace {
  font-size: 42px;
  line-height: 1.5;
  border-left: 2px solid #fff;
  padding-left: 30px;
}

/**/
.animation-wrapper {
  width: 100%;
  padding-bottom: 0%;
}

.stagger-visualizer {
  position: absolute;
  width: 100%;
  height: 550px;
  transform-origin: left top;
}

.stagger-visualizer .dots-wrapper {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stagger-visualizer .dot {
  position: relative;
  z-index: 1;
  width: 23px;
  height: 23px;
  margin: 16px;
  background-color: currentColor;
  border-radius: 50%;
}

.stagger-visualizer .cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  margin: 9px;
  background-color: #3ad196; /* Зелёный цвет */
  border-radius: 50%;
}

.color-green {
  background-color: var(--color-main-1-deep); /* Зелёный цвет */
}

.desc-33-mob-100 {
  width: 33%;
  display: block;
}
.desc-67-mob-100 {
  width: 67%;
  display: block;
}

.desc-flex-mob-block {
  display: flex;
  margin: 20px 0;
} 
.desc-col-2-50-mob-1-100 {
  display: block;
  width: 50%;
  padding: 0 10px;
}

/* Люди на странице контактов */

.social-links {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-links a {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-left: -20px; /* Наложение фотографий */
  border-radius: 50%;
  overflow: hidden;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
  transition: transform 0.3s ease;
}

.social-links a:first-child {
  margin-left: 0; /* Для первой фотографии, чтобы она не была сдвинута влево */
}

.social-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-links a:hover {
  transform: scale(1.1); /* Увеличение при наведении */
}

.desc-padding-70-mob-30 {
  padding: 70px !important;
}

.padding-blog-col {
  padding: 0 30px;
}

.desc-space-120-mob-20 {
  display: block;
  width: 100%;
  height: 120px;
  min-height: 120px;
}

.faq>span {
  display: block;
  position: relative;
  padding: 1% 2%;
  line-height: 1.6;
  font-weight: 600;
  background: #f5f5fa;
  background:#f5f5fa17;
  margin-top: 12px;
}
.faq-ans {
  display: block;
  position: relative;
  padding: 1% 3%;
  line-height: 1.6;
  font-weight: 400;
  color: #778090;
  margin: 16px 0;
}

.footerAdrressText {
  font-size: medium;
  font-size: 14px;
  line-height: 1.8;
}
/* Стелянный эффект */
.glassEffect {
color: #000;
background: rgb(255 255 255 / 50%);
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(5px);
overflow: hidden;
}
.glassEffect2 {
  color: #000;
    background: rgb(255 255 255 / 86%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(7px);
    overflow: hidden;
}

/* Медиа */
@media (max-width: 992px) { 
  .desc-33-mob-100 {
    width: 100%;
    display: block;
  }
  .desc-67-mob-100 {
    width: 100%;
    display: block;
  }
  .descCol4Mob1 {
    grid-template-columns: 1fr;
  }
  .desc-flex-mob-block {
    display: block;
    margin: 10px 0;
  } 
  .desc-col-2-50-mob-1-100 {
    display: block;
    width: 100%;
  }
  .desc-padding-70-mob-30 {
    padding: 30px !important;
  }
  .padding-blog-col {
    padding: 0 10px;
  }
  ul.ulBlogCol {
    list-style-type: square !important;
    list-style-position: inside !important;
  }
  ul.ulBlogCol li::marker {
    vertical-align: middle !important; /* Поднимаем маркеры к центру текста */
  }

  ul.ulBlogCol li {
    padding-left: 5px;
    position: relative;
    top: -2px; 
  }
  .marginRight10px, input.marginRight10px {
    margin-right: 10px !important;
  }
  
  .blog-stack-array {
    display: none;
  }
  .backgroundMarketplace {
    background-image: none;
  }
  .textMarketplace {
    font-size: 24px;
  }

  .esc-space-120-mob-20 {
    display: block;
    width: 100%;
    height: 20px;
    min-height: 20px;
  }
  .only-desc {
    display: none;
  }
  .stack-item {
    margin-right: 8px;
    margin-bottom: 6px;
  }
  .article-format{
    display: none;
  }
  .title-format-info {
    font-size: 24px;
  }
  .footerAdrressText {
    font-size: small;
    padding: 20px 0;
  }
  .footer-common {
    padding: 0 20px;  
  }
  h1 {
    font-size: 42px;
    margin-top: 0px;
  }
  .h3ash1 {
    font-size: 36px;
  }
  .big-padding-top-desc {
    padding-top: 10px;
  }
  .image-container img {
    max-height: 30px;
    width: 40px;
    /* object-fit: cover; */
    object-fit: contain;
    margin: auto;
 }
 .blackblock {
  padding-left: 15px;
  padding-right: 15px;
 }
 .inline-flex-desc {
  display:  block;
  width: auto;
}
.projects-num {
  padding: 18px;
  width: auto;
  border: none;
}
.projects-clutch {
  padding: 18px;
  width: auto;
  border: none;
  margin-left: auto;
  display: none;
}
  .px-10 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 740px) {
  .stagger-visualizer .dot {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 8%, #D3CDC6 100%);
  }
}
@media (min-width: 1380px) {
  .container, .fake-container {
    max-width: 1300px;
  }
}
@media (min-width: 1440px) {
  .container, .fake-container {
    max-width: 1380px;
  }
}
@media (min-width: 1700px) {
  .container, .fake-container {
    max-width: 1600px;
  }
}

@media (max-width: 768px) {
  .achievements-wrapper {
    padding: 30px 0;
  }
  @media (max-width: 404px) {
  h1, .h3ash1 {
    font-size: 34px;
  }
}
@media (max-width: 345px) {
  h1, .h3ash1 {
    font-size: 30px;
  }
}
  .achievements-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 8px;
  }

  .achievement-block {
    flex: 1 1 calc(33% - 20px); /* Блоки занимают до 33% ширины с учетом отступов */
    margin: 8px 0;
  }

  .achievement-image {
    margin: auto;
  }
  .achievement-image-clutch {
    margin: 3px auto;
  }

  /* Если экран меньше 480px, блоки будут занимать больше места */
  @media (max-width: 480px) {
    .achievement-block {
      flex: 1 1 calc(50% - 20px); /* Блоки будут занимать 50% ширины */
    }
  }
}

.grid-container-4-1 {
  display: grid;
  gap: 20px; /* Расстояние между элементами */
  grid-template-columns: repeat(1, 1fr); /* По умолчанию 1 колонка */
}

.grid-item-4-1 {
  text-align: center;
}

.square-image-container {
  position: relative;
  width: 100%; /* Ширина контейнера относительно родительского элемента */
  padding-top: 100%; /* Создает квадратное соотношение сторон 1:1 */
  overflow: hidden; /* Обрезает изображение за пределами контейнера */
}

.square-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезает изображение, чтобы оно полностью заполнило контейнер */
}

/* Стили для десктопа */
@media (min-width: 768px) {
  .grid-container-4-1 {
    grid-template-columns: repeat(4, 1fr); /* 4 колонки на экранах шире 768px */
  }
}
