.marqueeContainer {
  background: var(--color-main-1-deep);
  background: #000;
  /*background: var(--color-main-2-deep);*/
  overflow: hidden;
  position: relative;
  font-size: 42px;
  color: #fff;
  padding: 20px 0;
  font-family: 'Major Mono Display';
}

/* Верхняя строка */
.topMarquee {
  display: inline-flex;
  animation: marqueeContinuousTop 45s linear infinite;
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  top: 10px; /* Верхняя строка видима поверх видео */
  left: 0;
  width: 100%;
  z-index: 10; /* Строка поверх видео */
}

.smallText {
  display: inline-block;
  padding-right: 50px;
  color: #fff;
}

/* Основная бегущая строка под видео */
.marquee {
  display: inline-flex;
  animation: marqueeContinuous 45s linear infinite;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
  padding-bottom: 50px;
}

.text {
  display: inline-block;
  padding-right: 50px;
  position: relative;
}

.videoStyles {
  transform: rotate(-3deg);
  border-radius: 67px;
  width: 100%;
  height: auto;
}

/* Белая бегущая строка поверх видео (с диагональным движением) */
.diagonalMarquee {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  animation: diagonalMarquee 45s linear infinite; /* Движение под углом */
  z-index: 5;
}

.diagonalText {
  font-size: 70px;
  color: #fff;
  white-space: nowrap;
}

/* Анимация для всех бегущих строк (непрерывная) */
@keyframes marqueeContinuous {
  0% {
    transform: translateX(10%);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeContinuousTop {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Анимация для белой строки (под углом) */
@keyframes diagonalMarquee {
  0% {
    transform: translateX(10%) translateY(0%) rotate(-10deg);
  }
  100% {
    transform: translateX(-100%) translateY(0%) rotate(-10deg);
  }
}

@media (max-width: 768px) {
  .marqueeContainer {
    font-size: 28px;
  }

  .smallText {
    font-size: 16px;
  }

  .diagonalText {
    font-size: 28px;
  }
  .diagonalMarquee {
    animation: diagonalMarquee 30s linear infinite; /* Движение под углом */
  }
  .topMarquee {
    animation: marqueeContinuous 30s linear infinite;
  }
  .marquee {
    animation: marqueeContinuous 30s linear infinite;
  }
}
