.burgerButton {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 3px;
  }
  
  .burgerButton:hover .dot {
    animation: glitch 0.9s forwards;
  }
  
  @keyframes glitch {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .burgerButton.open .dot:nth-child(1) {
    transform: translateX(8px);
  }
  
  .burgerButton.open .dot:nth-child(2) {
    opacity: 0;
  }
  
  .burgerButton.open .dot:nth-child(3) {
    transform: translateX(-8px);
  }
  
  .closeIcon {
    font-size: 80px; /* Увеличиваем размер крестика по-умолчанию 36px */
    color: #333;
  }
  
/*

  .menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
  }
  
  .menuOpen {
    bottom: 0;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .menu li {
    margin: 20px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
  }
  
  */

  .menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #1c1c1c; /* Very dark grey */
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 999;
    overflow: hidden;
    padding: 20px;
    flex-direction: row;
  }
  
  .menuOpen {
    bottom: 0;
  }
  
  .menuColumn {
    width: 50%;
    color: #fff;
  }
  
  .menuColumn h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .menuColumn ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menuColumn li {
    margin: 10px 0;
  }
  
  .menuColumn a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .footer {
    width: 100%;
    border-top: 1px solid #666; /* Middle grey line */
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .languages, .socialLinks {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .languages a, .socialLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .menuColumn {
      width: 100%;
    }
  
    .menuColumn h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  
    .menuColumn a {
      font-size: 16px;
    }
  
    .footer {
      flex-direction: column;
    }
  
    .languages, .socialLinks {
      width: 100%;
      justify-content: center;
      margin: 10px 0;
    }
  }
  .menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
  }
  
  .menuColumns {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .footerContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
    
  @media (max-width: 768px) {

    .menuColumns {
      display: block;
    }

    .menu {
     /*  height: auto; 
      overflow-y: auto; 
           */
      height: 100%;
      overflow-y: scroll;
 
    }
  
    .menuColumn {
      width: 100%; /* Вся ширина экрана для каждого элемента */
      margin-bottom: 20px; /* Отступы между блоками */
  
    }
  
    .footer {
      width: 100%; /* Вся ширина экрана для нижнего блока */
      position: static; /* Отключаем фиксированное позиционирование */
      margin-top: 20px; /* Отступ сверху для footer */
    }
  }
  